# VS Code
.vscode/

# Python / random
venv/
*.lock
*.egg-info*

# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake-build-*/
build.ninja
.ninja*

# OS build files
*.o
*.bin
*.iso
*.img
*.elf

# Generated ISO folder
iso/

# Environment
.env
