.vscode/
venv/
.env

*.lock
*.egg-info*

.cmake/
CMakeCache*
CMakeFiles/
build.ninja
.ninja*
Makefile
cmake_install.cmake

build/*/CMakeCache.txt
build/*/CMakeFiles/
build/*/Makefile
build/*/cmake_install.cmake
build/*/kernel.iso
build/*/disk.iso
build/*/iso/
build/solo_fabian/*

!build/*/kernel.bin
!build/*/kernel.img

00_per_arne
src/group_name/src/kernel.c
