.vscode/
venv/
*.lock
*.egg-info*
.env
*.tmp
*.swp

# Ignore old/template folders
src/group_name/

# Ignore source-tree builds
src/group32/build/

# Ignore most build files
build/*
!build/group32/
build/group32/*
!build/group32/kernel.bin
!build/group32/kernel.iso